.App {
  text-align: center;
  background-image: url(./nightgate.jpg);
 
}

img {
  width: 400px;
 
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h3 {
  color: pink;
}

/* h1 {
  color: wheat;
}

h2 {
  color: rgb(238, 204, 141);
}

h3 {
  color: rgb(252, 208, 127);
}

p {
  color: white;
} */

button {
  background: #1c1d25;
  color: rgb(238, 226, 226);
  padding: 2px;
}
button :hover {
  background: #1c1d25;
  color: pink;
}

.explanation {
  
  color: white;
  padding: 20px;
  
  
}


.title {
  color: rgb(250, 207, 214);
  font-family: 'Notable', sans-serif;
  font-size: 50px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
